run = "/home/runner/workspace/.pythonlibs/bin/python3 app.py"
modules = ["python-3.11"]

[nix]
packages = ["espeak-ng", "iputils"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80
